:root {
  //light ------
  --color-light-100: #efecec;
  --color-light-500: #a9a6a6;
  --color-light-900: #2f3336;

  //medium -------
  --color-medium-900: #fed700;

  //error --------
  --color-error: #dd245d;

  //price ---
  --color-price: #1d9ae8;

  //dark -------
  --color-dark-100: #212121;
  --color-dark-500: #181818;
  --color-dark-900: #000;
  --color-dark-opacity: rgba(0, 0, 0, 0.5)
}