:root {
  //light ------
  --color-light-100: #efecec;
  --color-light-500: #a9a6a6;

  //medium -------
  --color-medium-900: #fed700;

  //error --------
  --color-error: #dd245d;

  //price ---
  --color-price: #1d9ae8;

  //dark -------
  --color-dark-900: #181818;
}