@font-face {
  font-family: 'Open-Sans';
  src: local('@/assets/fonts/medium/OpenSans-Medium.eot');
  src: url('@/assets/fonts/medium/OpenSans-Medium.eot?#iefix') format('embedded-opentype'),
  url('@/assets/fonts/medium/OpenSans-Medium.woff2') format('woff2'),
  url('@/assets/fonts/medium/OpenSans-Medium.woff') format('woff'),
  url('@/assets/fonts/medium/OpenSans-Medium.ttf') format('truetype'),
  url('@/assets/fonts/medium/OpenSans-Medium.svg#OpenSans-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open-Sans';
  src: local('@/assets/fonts/bold/OpenSans-Bold.eot');
  src: url('@/assets/fonts/bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('@/assets/fonts/bold/OpenSans-Bold.woff2') format('woff2'),
  url('@/assets/fonts/bold/OpenSans-Bold.woff') format('woff'),
  url('@/assets/fonts/bold/OpenSans-Bold.ttf') format('truetype'),
  url('@/assets/fonts/bold/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  //FS ---
  --font-s-p: 1rem;
  --font-s-medium: 1.14285rem;
  --font-s-h2: 1.28571rem;
  --font-s-h1: 1.78571rem;

  //FW ---
  --f-w-m: 500;
  --f-w-b: 900;

  //FF ---
  --f-open-sans: 'Open-Sans'
}

