.link {
  all: unset;
  position: relative;
  display: flex;
  align-items: center;
  color: var(--color-dark-100);
  text-transform: capitalize;
  line-height: 2;
  overflow: hidden;
  border: 1px solid transparent;
  cursor: pointer;

  &:after {
    position: absolute;
    bottom: 0;
    content: '';
    display: block;
    width: 1px;
    height: 1px;
    transform: translate(0);
  }

}

.primary {
  all: unset;
  //max-width: 100%;
  display: inline-flex;
  align-self: start;
  padding: 9px 32px;
  font-weight: var(--f-w-b);
  background: var(--color-light-100);
  color: var(--color-dark-900);
  border-radius: 14px;
  border: 1px solid var(--color-light-100);
  overflow: hidden;
  cursor: pointer;
  transition: background .3s ease 0s, color .3s ease 0s;

  &:hover {
    background: var(--color-dark-900);
    color: var(--color-light-100);
    transition: background .3s ease 0s, color .3s ease 0s;
  }
}

.secondary {
  all: unset;
  //max-width: 100%;
  display: flex;
  border-radius: 10px;
  white-space: nowrap;
  padding: 10px 20px;
  border: 1px solid transparent;
  background: var(--color-dark-900);
  box-shadow: 1px 1px 5px var(--color-dark-900);
  transition: box-shadow .3s ease 0s, color .3s ease 0s;

  cursor: pointer;

  &:hover {
    color: var(--color-medium-900);
    box-shadow: 1px 1px 5px var(--color-medium-900);
    transition: box-shadow .3s ease 0s, color .3s ease 0s;
  }
}

.tertiary {
  all: unset;
  display: flex;
  border-radius: 10px;
  padding: 10px 20px;
  border: 1px solid transparent;
  background: var(--color-medium-900);
  box-shadow: transparent;
  color: var(--color-dark-100);
  will-change: transform;
  transform: translate(0);
  transition: box-shadow .3s ease 0s, transform .3s ease 0s;

  cursor: pointer;

  &:hover {
    transform: scale(1.05) rotate(-3deg);
    box-shadow: 1px 1px 2px var(--color-dark-100);
    transition: all .3s ease 0s;
    will-change: transform;
  }

}

.error {
  color: var(--color-error);
  padding: 10px 20px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, var(--color-error) 3%, var(--color-error-opacity) 28%, transparent 50%);
  background-size: 100% auto;//делаем анимацию
  background-position: left center; //делаем анимацию
  transition: background-size .3s ease 0s, background-position .3s ease 0s, color .5s ease .3s;

  &:hover{
    background-size: 800% auto; //делаем анимацию
    background-position: left center; //делаем анимацию
    color: var(--color-light-100);
    transition: all .5s ease-out;
  }
  &:focus{
    box-shadow: 0 0 2px var(--color-error);
  }
}

.fullWidth {
  width: 100%;
}