.link {

}

.primary {

}

.secondary {
  all: unset;
  display: block;
  border-radius: 10px;
  //width: 100%;
  padding: 8% 16%;
  border: 1px solid transparent;
  transition: border .3s ease 0s;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--color-medium-900);
    background: black;
    transition: border .3s ease 0.1s;
  }


}

.tertiary {

}

.fullWidth{
  width: 100%;
}