.link {

}

.primary {
  all: unset;
  max-width: 100%;
  display: inline-flex;
  align-self: start;
  padding: 9px 32px;
  font-weight: var(--f-w-b);
  background: var(--color-light-100);
  color: var(--color-dark-900);
  border-radius: 14px;
  border: 1px solid var(--color-light-100);
  cursor: pointer;
  transition: background .3s ease 0s, color .3s ease 0s;

  &:hover {
    background: var(--color-dark-900);
    color: var(--color-light-100);
    transition: background .3s ease 0s, color .3s ease 0s;
  }
}

.secondary {
  all: unset;
  max-width: 100%;
  display: flex;
  border-radius: 10px;
  white-space: nowrap;
  padding: 10px 20px;
  border: 1px solid transparent;
  background: var(--color-dark-900);
  box-shadow: 1px 1px 5px var(--color-dark-900);
  transition: box-shadow .3s ease 0s, color .3s ease 0s;

  cursor: pointer;

  &:hover {
    color: var(--color-medium-900);
    box-shadow: 1px 1px 5px var(--color-medium-900);
    transition: box-shadow .3s ease 0s, color .3s ease 0s;
  }
}

.tertiary {

}

.fullWidth {
  width: 100%;
}