.container {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 5% 0;

  > label {
    margin: 0 10px 0 0;
    max-width: 100px;
    width: 100%;
    color: var(--color-dark-100);
    text-transform: capitalize;
  }

  .inputFIle {
    width: 100%;
    color: var(--color-light-500);
  }
}