.containerDeviceItem {
  position: relative;
  flex: 0 1 16%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.3%;

  &:before {
    position: absolute;
    right: 0;
    width: 2px;
    height: 80%;
    content: '';
    display: block;
    border-right: 1px solid var(--color-light-500);
  }

  &:last-child:before {
    display: none;
  }

  .name {
    margin: 0 0 8%;
  }

  .img {
    width: 165px;
    height: 165px;
    margin: 0 auto;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .price {
    display: flex;
    justify-content: space-between;

    font-size: var(--font-s-medium);
    margin: 8% 0 0;

  }
}