.nav{
}
.ul {
  display: flex;

  .li {
    width: 100%;
    margin: 0 10px 0 0;
    transition: all 1s ease 0s;
  }
  .active{
    //background: var(--color-light-100);
    width: 120px;
    transition: all 1s ease 0s;
  }

}
